
.customerDetails{
    font-size: medium;
    padding-bottom: 1.5%;
    padding-left: 2%;
}
.lowerP{
    width: 55%;
    min-height: 8vh;
    margin-left: 10%;
    margin-top: 4%;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 20px;
    color:   gray;
    font-weight: 500;

}
.lastDiv{
    display: flex;
    flex-direction: row;
    width: 58.5%;  
    margin-top: 3%;
    text-align: center;
    border-style: unset;
    border: 0.5px solid black;
    margin-left: 10%;
    
}
/* .hide-button{

} */
.content{
    width: 70%;
      /* height: 10%; */
      display: flex;
      padding-left: 2%;
}
.name{
    margin-right: 2%;
    margin-bottom: 2%;
    width: 45%;
}
.phonenumber{
    width: 45%;
}
.continue{
    width: 20%;
    height: 38px;
    background-color: #3371b5;
    color: white;
    text-align: center;
    padding-top: 9px;
    font-weight: 400;
    border-radius: 2px;
    /* margin-top: 45px; */
    margin-right: 2%;
    cursor:pointer;
    float: right;
}
.address{
    margin-bottom: 2%;
    widows: 770px;
    padding-left: 2%;
}
.editButton{
    margin-left: 90%;
    margin-top: -4%,
}
.textField{
    margin-right: 0% ;
    width: 100%; 
}
.orderDetailSummary
{
    display: flex;
    flex-direction: column;
    padding-top: 13%;
    padding-left: 23%;
}

.lastDiv{
    min-height: 9vh;
    display: flex;
    flex-direction: row;
    width: 58.5%;  
    margin-top: 3%;
    text-align: center;
    border-style: unset;
    border: 0.5px solid black;
    margin-left: 10%;
    
}
.toolBar {
height: 3.5em;
/* width: 100px; */
background-color:#a03037;
display: flex;
flex-direction: row;
width: 100%;
margin-left: -6%;
margin-top:-6%;
justify-content: center;
align-items: center;
margin-bottom:3%
}
.imageLogo{
display: flex;
flex-direction: row;
/* justify-content: center;
align-items: center; */
}
.search{
display: flex;
flex-direction: row;
background-color: white;
height: 40%;
width: 30%;
border-radius: 2%;
padding-top: 0%;
padding-left: 12px;
/* text-align: end; */
}
.image{
height: 38px;
margin-right: 20px
}
.searchColor{
margin-left: -2%;
color: gray;
}
.title{
color: white;
padding-right: 30px;
}
.input{
border: none;
outline: none;
width: -webkit-fill-available;
font-size: inherit;
}
.button{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 80%;
    justify-content: flex-end;
}
.spacepadding{
    padding-top: 3%;
}

.orderImage{
    height: 100px;
    padding-left: 53%;
    padding-top: -2%;
    /* padding-top: 40%;
    padding-bottom: 12%;
     */
}
.DDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.imageSummary{
    margin-left: -14%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.detailsSummary{
        margin-top: 10%;
        padding-left: 14%;
}
.summaryTitle{
    padding-right: -4%;
}
.orderSummary{
     padding-left: 5%;
     padding-top: 1%;
     height: 4vh;
    margin: 1%;
     position:absolute;
}
.orderTitleCart{
    height: 5%;
    width: auto;
    padding-top: 22px;
}
.orderDetailSummary
{
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    padding-left: 28%;
}
.border {
    height: 10vh;
    /* margin: auto;
   
    margin-left:4% ;
    margin-top: 3%;
    width:74% */
    width: 100%;
    margin: 6%;
    }
    .cart-title {
    padding-left: 4%;
    padding-top: 2%;
    }
    .cart-image {
        display: flex;
        flex-direction: row;
        padding-left: 4%;
        margin-top: 6%;
        padding-top: 2%;
        margin-left: -111%;
    }
    .book-title {
    padding-left: 4%;
    font-family: fantasy;
    }
    .book-author {
    font-size: 89%;
    color: gray;
    }
    .divHide{
        display: block;
        height: 22vh;
        width: 100%;
    }
    
    .buttonLast{
        padding-left: 5%;
        /* padding-right: -3%; */
        margin-left: 61%;
        margin-top:-5% 

    }
